body{
  font-family:Arial;
  margin:0;
  background:#0f172a;
  color:#e5e7eb
}

header{
  background:#020617;
  padding:15px;
  text-align:center;
  font-size:24px;
  font-weight:bold
}

#search{
  width:90%;
  max-width:500px;
  padding:12px;
  margin:20px auto;
  display:block;
  border-radius:10px;
  border:none;
  font-size:16px
}

.categories{
  text-align:center;
  margin-bottom:15px
}

button.cat{
  margin:5px;
  padding:8px 14px;
  border:none;
  border-radius:20px;
  background:#1f2937;
  color:white;
  cursor:pointer;
  transition:.3s
}

button.cat.active{
  background:#22c55e;
  color:black
}

button.cat:hover{
  transform:scale(1.05)
}

.grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
  gap:20px;
  padding:20px
}

.card{
  background:#1e293b;
  border-radius:15px;
  padding:20px;
  text-align:center;
  box-shadow:0 0 15px rgba(0,0,0,.4);
  transition:.3s
}

.card:hover{
  transform:translateY(-5px)
}

.card a{
  display:inline-block;
  margin-top:12px;
  padding:8px 14px;
  background:#22c55e;
  color:black;
  border-radius:10px;
  text-decoration:none;
  font-weight:bold
}

.click-count{
  font-size:12px;
  margin-top:8px;
  color:#9ca3af
}

footer{
  background:#020617;
  padding:20px;
  font-size:12px;
  text-align:center;
  color:#9ca3af
}






header {
  background:#020617;
  padding:15px;
  text-align:center;
  display:flex;
  align-items:center;
  justify-content:center;
  gap:10px; /* লোগো আর নামের মধ্যে দূরত্ব */
}

header img#logo {
  height:50px; /* লোগো সাইজ */
  width:auto;
}

header h1 {
  font-size:24px;
  color:#e5e7eb;
  margin:0;
}



@media (max-width:600px){
  header {
    flex-direction:column;
  }
  header img#logo {
    height:40px;
  }
  header h1 {
    font-size:20px;
  }
}
